
.DS_Store
*.docx
*.ai
*.pdf
*.txt
*.jar
*.tif
Misc/psfj_2.5_build_245_macos/PSFj.app/Contents/MacOS/psfj
*.plist
Misc/psfj_2.5_build_245_macos/PSFj.app/Contents/MacOS/empty
*.tsv
*.lock
*.dirlock
*.pyc
*.png
